basePath: /
definitions:
  models.ErrorResponse:
    properties:
      error: {}
    type: object
  models.Response:
    properties:
      response: {}
    type: object
host: prisma.ssapi.ru
info:
  contact: {}
  description: Travel App - приложение для путешественников
  title: Prisma
  version: "1.0"
paths:
  /achievements:
    get:
      consumes:
      - application/json
      description: Возвращает список всех достижений в системе.
      operationId: get-all-achievements
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/models.Response'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/models.ErrorResponse'
    post:
      consumes:
      - application/json
      description: Создает новое достижение в системе.
      operationId: create-achievement
      parameters:
      - description: Название достижения (минимум 6 символов)
        in: body
        name: name
        required: true
        schema:
          type: string
      - description: Описание достижения (минимум 10 символов)
        in: body
        name: description
        required: true
        schema:
          type: string
      - description: Ссылка на иконку достижения (должна быть валидной URL)
        in: body
        name: icon
        required: true
        schema:
          type: string
      - description: Количество монет, присваиваемых за достижение
        in: body
        name: coins
        required: true
        schema:
          type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/models.Response'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/models.ErrorResponse'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/models.ErrorResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/models.ErrorResponse'
      summary: Создать новое достижение
  /achievements/{achievementId}:
    get:
      consumes:
      - application/json
      description: Возвращает информацию о конкретном достижении по его ID.
      operationId: get-achievement
      parameters:
      - description: Уникальный идентификатор достижения (в формате UUID)
        in: path
        name: achievementId
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/models.Response'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/models.ErrorResponse'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/models.ErrorResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/models.ErrorResponse'
      summary: Получить информацию о достижении
    patch:
      consumes:
      - application/json
      description: Редактирует информацию о существующем достижении.
      operationId: edit-achievement
      parameters:
      - description: Уникальный идентификатор достижения (в формате UUID)
        in: path
        name: achievementId
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/models.Response'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/models.ErrorResponse'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/models.ErrorResponse'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/models.ErrorResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/models.ErrorResponse'
      summary: Редактировать достижение
schemes:
- https
swagger: "2.0"
